.navbar-container {
    padding: 1rem;
    background-color: hotpink !important;
    color: hotpink !important;
}

.navbar-item {
    color: white !important;
    font-size: 2rem;
}

#basic-navbar-nav {
    background-color: hotpink !important;
    color: white !important;
}

.navbar-toggler-icon {
    border: 1px solid black;
    background-color: white;
}