.menu.navbar-container {
    padding-left: 5%;
    padding-right: 5%;
    background-color: hotpink !important;
}

.navbar-item {
    display: inline-block !important;
}

.disclaimer {
    background-color: hotpink !important;
    color: white !important;
}

